/* Sample color palette */

:root {
	$yellow: #fecf33;
	$peach: #ee6723;
}


body{
	background-color: black;
	font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .navbar-nav {
    width: 100%;
    text-align: center;
     li {
      float: none;
      display: inline-block;
    }
  }
/* link */
.navbar-default .navbar-nav > li > a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 2pt;
	color: #4d4d4d;
	padding-left: 30px;
	padding-bottom: 30px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: blue;
}

header {
  text-align: center;
    background: url("../../assets/img/background.jpeg");
	background-size: cover; 
    background-repeat: no-repeat;  
    color: white;
    height: 100vh;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 6em;
  letter-spacing:	-0.0625em;
  line-height: 1em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}